# Dagster core
dagster==1.8.12
dagster-webserver==1.8.12
dagster-postgres==0.24.12

# Data processing
pandas==2.2.2
pyarrow==17.0.0

# AWS S3
boto3==1.35.64
s3fs==2024.10.0

# Database
psycopg2-binary==2.9.10

# Testing (optional)
pytest==8.3.4
pytest-mock==3.14.0
